# Testing functions in telo_tools for handling individual telomere length data

In [161]:
# enables access to directories/files
import os


# for handling data
import numpy as np
from numpy import array
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile


# graphing
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from matplotlib import colors
from matplotlib.ticker import PercentFormatter
import seaborn as sns

# for loading telo data column containing individual
# telomere length values
from ast import literal_eval

# statistics
from scipy import stats

# testing telo_tools.py
import telo_tools

In [157]:
# fxn for reading files
# test_df['telo data'] = test_df['telo data'].apply(lambda row: np.array(literal_eval(row)))

## Test compiling individual telomere length data and generating data into a dataframe

In [153]:
# compiling test data from excel files into a dict
test_dict = telo_tools.generate_dictionary_for_telomere_length_data('test files/')

xyz9999_FD45.xlsx telomere data acquisition in progress..
xyz9999_L-180.xlsx telomere data acquisition in progress..
xyz9999_L-60.xlsx telomere data acquisition in progress..
Done collecting all telomere length excel files

In [158]:
# generating a pandas dataframe from the dict
test_df = telo_tools.make_dataframe_from_telomere_data_dict(test_dict)
test_df.head(4)

,sample id,timepoint,telo data,telo means,Q1,Q2-3,Q4
0,9999,FD45,2689 5653.0 3884 6792.0 3874 11202....,9280.588478,telos quartile 1 <0.25,telos quartile 2-3 >0.25 & <0.75,telos quartile 4 >0.75
1,9999,L-180,0 13431.0 1 8741.0 2 9782....,10317.742572,telos quartile 1 <0.25,telos quartile 2-3 >0.25 & <0.75,telos quartile 4 >0.75
2,9999,L-60,0 12883.0 1 9965.0 2 11391....,10801.377174,telos quartile 1 <0.25,telos quartile 2-3 >0.25 & <0.75,telos quartile 4 >0.75

In [159]:
import importlib
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Counting short/medium/long individual telomeres

In [160]:
# declaring a list of 
timepoint_list = ['L-180', 'L-60', 'FD45', 'FD90', 'FD140', 'FD260', 'R+5', 'R+7', 'R+60', 'R+105', 'R+180', 'R+270']

telo_tools.calculate_apply_teloQuartiles_dataframe(df, timepoint_list)

,sample id,timepoint,telo data,telo means,Q1,Q2-3,Q4
0,9999,L-180,0 13176.0 1 8814.0 2 9238....,10317.742572,[1380],[2760],[1380]
1,9999,L-60,0 9657.0 1 16542.0 2 19299....,10801.377174,[1328],[2460],[1732]
2,9999,FD45,2930 11175.0 2170 5989.0 3731 6752....,9279.741957,[1633],[2303],[664]